$navbar-default-bg: #fac21b;

@import "bootstrap-sprockets";
@import "bootstrap"; 

.center{
	text-align:center;
}

.jumbotron{
	background-image: asset-url('recipes.jpg');
	background-size: cover;
	height: 300px;
}
.site-footer{
	background-color: #fac21b;
}

#logo{
	float: left;
	font-size: 1.7em;
	color: #ffff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}
#logo:hover{
	color: #ffff;
	text-decoration: none;
}

.jumbotron h1{
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;

}
.jumbotron h2{
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;

}
.btn-xlarge{
	background-color: #fac21b;
}
.btn-xlarge:hover{
	background-color: black;
	color: #fff;
	text-decoration: none;
}
footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background-color: red;
}

.well a{
	color: #fac21b;
}
.colormatch{
	color: #fac21b;
}

.listing{
	list-style: none;
	padding-left: 0px;
}

.title-name{
	color: #fac21b;
	font-size: 1.25em;
	font-weight: bold;
}




.topnav {
  background-color: #fac21b;
  overflow: hidden;
  display: flex;
  a {
	  
	  display: block;
	  color: #fff;
	  text-align: center;
	  padding: 14px 16px;
	  text-decoration: none;
	  font-size: 17px;
	}
}

/* Style the links inside the navigation bar */

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fac21b;
  color: black;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}





